* {
  box-sizing: border-box;
}
body {
}

.container {
  background: lightgreen;
  height: 400px;
  display: flex;

  justify-content: center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: solid;
  background-color: aquamarine;
  min-width: 500px;
  display: flex;
}
/*columns */
.card__column {
}

.card__column--first {
  border: solid;
  width: 5rem;
}
.card__column--second {
  width: 100%;
}
/* column--second wrapped rows*/
.card__row--first {
  border: solid red;

  display: flex;
  align-items: flex-start; /* vertical position */
}
.card__row--second {
}
/* content wrapped in column--first */
.button__left--icon {
  align-self: center;
  align-self: baseline;
  width: 2rem;
  height: 5rem;
}
/* content warpped into row--first*/
.text {
  flex: 1;
}
